
:root {
    --primary-color: #2c3e50;
    --accent-color: #e67e22;
    --bg-light: #f9f9f9;
    --text-main: white;
}


body {
    margin: 0;
    background-color: var(--bg-light);
    color: var(--text-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;   /* Mobile stacked */
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul a:hover {
    background-color: gray;
    transition: 0.3s; 

}

section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:60vh;
    background-size: cover;
    padding:60px 20px;
    background-image: url(https://i.pinimg.com/1200x/5a/96/e2/5a96e20176bf41ab5f7a763184fbf5b0.jpg);
    text-align:center;
    background-repeat: no-repeat;
}

section h1 {
    font-size: 2rem;

}

button {
    background-color: var(--accent-color);
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cf711f;  
    transition: 0.3s; 
}

button.clicked {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

a,button:focus-within{
  outline: 3px solid #0b1b3f;
  outline-offset: 2px;
}
img{
    max-width:100%;
    height:auto;
}
.product-grid {
    display: grid;
    grid-template-columns: 1fr;  /* Mobile */
    gap: 20px;
}
.products-container {
    text-align: center;
    justify-content: center;
}

.product-section {
    margin-bottom: 40px;
    color: black;
}

.product-card {
    background: white;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 120px;      
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.peso {
    color: black;
    font-weight: bold;
    margin: 8px 0;
}

.product-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    animation:fadeIn 0.6s ease-in-out;
}

.product-card a:hover {
    background-color: #cf711f;
}

.product-section h1 {
    margin-bottom: 20px;
}
.product-card h3 {
    margin: 10px 0 5px;
}

.product-card p {
    font-weight: bold;
    color: var(--accent-color);
}
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}
}
/*TABLET (481px – 768px)*/
@media (min-width: 481px) {

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        padding: 20px;
    }

}
@media (min-width:769px){
    .product-grid{
        grid-template-columns:repeat(4,minmax(200px,1fr));
    }

}

/* DESKTOP (769px – 1280px) */
@media (min-width: 769px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }

    .layout-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 20px;
    }

    .product-grid {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }

}

